@import "admin-lte-v4/src/scss/adminlte";
//Fontawesome5
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

$theme-colors: map-merge($theme-colors, $colors);

$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
$utilities-colors: map-merge($utilities-colors, $theme-colors-rgb);
$utilities-text: map-merge($utilities-text, $utilities-colors);
$utilities-text-colors: map-loop($utilities-text, rgba-css-var, "$key", "text");
$utilities-bg: map-merge($utilities-bg, $utilities-colors);
$utilities-bg-colors: map-loop($utilities-bg, rgba-css-var, "$key", "bg");

@import "lte-themes";
